body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("images/gradient.png");
    background-size: cover;
}

.app-title{
color: aqua;
padding: 0.4em;
font-weight: bold;
}

.card {
    background: rgba(46, 33, 41, 0.3);
    color: white;
    padding: 2em;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}


input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0.6em 1em;
    border-radius: 25px;
    background: rgb(0, 0, 0, 0.3);
    color: white;
    font-family: inherit;
    font-size: 90%;
    width: 90%;
    max-width: 420px;
}

button {
    margin: 0.2em;
    border: none;
    background: none;
    color: rgb(98, 245, 188);
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

button:hover {
    color: rgb(37, 8, 100);
}



h1.temp {
    margin: 0;
}


.description {
    text-transform: capitalize;
}

.github{
    display: flex;
    align-items: center;
    justify-content: center;
}